# R project files to be ignored
# Packrat files left off github
*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.rdb
*.rdx
.Rproj.user

# Ignore final reports for public repo
*.pdf

# Ignore partial files
*$*.docx

# Ignore large files, let Box sync handle them for now
*.txt # this should end up being the sample/raw files from VivaLNK
*.fig # Files from the MATLAB 
*.mat # Larger MATALB files as well, likely the processed HRV data
