# R project files to be ignored
*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.rdb
*.rdx
.Rproj.user
packrat/lib*/
packrat/src/

# Ignore data files for HIPAA (project is private, so should be fine)
# No files for now

# Ignore temp word files
~\$*.docx
*.swp

# Ignore images stored?

# Ignore large data files
data/*
